<h2 class="page-title">Create Backoffice User</h2>

<div>
    <div class="form-popup" id="myForm">
        <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
            <div class="form-container">
                <div class="row">
                    <div>
                        <label for="name">Name:</label>
                        <input
                            id="name"
                            type="text"
                            formControlName="name"
                        />
                    </div>
                </div>

                <div class="row">
                    <div>
                        <label for="role">Role:</label>
                        <select
                            id="role"
                            formControlName="role"
                            [(ngModel)]="form.value.role"
                            required
                        >
                            <option
                                *ngFor="let role of roleTypes"
                                [value]="role"
                            >
                                {{ role }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <label for="email">Email:</label>
                        <input
                            id="email"
                            pattern=".+@isep\.ipp\.pt$"
                            type="text"
                            formControlName="email"
                        />
                    </div>
                </div>

                <div class="row">
                    <div>
                        <label for="phoneNumber">Phone Number:</label>
                        <input
                            id="phoneNumber"
                            pattern="[0-9]{9}"
                            type="text"
                            formControlName="phoneNumber"
                        />
                    </div>
                </div>

                <div class="row">
                    <div>
                        <label for="password">Password:</label>
                        <input
                            id="password"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{10,}$"
                            type="password"
                            formControlName="password"
                        />
                    </div>
                </div>

                <button type="submit" [disabled]="form.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
