<!DOCTYPE html>
<div>
    <h1>Privacy Policy</h1>

    <h2>Who are we</h2>
    <p>Instituto Superior de Engenharia do Porto (ISEP)</p>
    <p>R. Dr. António Bernardino de Almeida 431</p>
    <p>4249-015 Porto Portugal</p>
    <p>Tel: +351228340500</p>
    <p>Website: <a href="http://isep.ipp.pt">isep.ipp.pt</a></p>

    <h2>Which personal data do we process and for which reasons?</h2>
    <p>
        In the realm of data collection, our primary focus centers on obtaining individual
        identification information. Adhering to the stipulations outlined in Article 6 of
        the General Data Protection Regulation (GDPR), it is imperative to conduct lawful
        data processing. To ensure compliance, the purpose of collection must be
        meticulously specified, providing explicit and informed details.
    </p>
    <br />
    <p>
        The data collection and processing unfold in two distinct phases: initially,
        during user registration, and subsequently, as individuals move within the
        premises, facilitated by biometric means. The latter procedure is designed to
        enhance the robots' efficacy in executing surveillance and object delivery tasks.
        This is achieved through the utilization of embedded cameras, empowering the
        robots to perform their functions seamlessly.
    </p>

    <h3>Name</h3>
    <p>
        The name of the individual registered in the system is important to make it
        possible not only to build the person's profile, but also to facilitate
        correspondence with them, whether by telephone or email.
    </p>

    <h3>Institutional E-mail</h3>
    <p>
        Collecting the institutional email address is not only essential for effective
        communications between the organization and the data owner, but also for the
        purpose of recovering the user's account in the system. This e-mail also serves
        the purpose to identify the user within the system.
    </p>

    <h3>Phone Number</h3>
    <p>
        Crucial for effective communication, the telephone number takes on heightened
        significance within the realm of account security. Moreover, it plays a dual role
        as a key point of contact for automated processes, facilitating tasks ranging from
        deliveries to surveillance. Envisioning a potential system evolution encompassing
        authentication through correspondence and SMS confirmation, the incorporation of
        this information becomes strategically imperative.
    </p>

    <h3>VAT</h3>
    <p>
        We are obligated to request and process the VAT number of each individual in order
        to generate invoices for the services provided.
    </p>

    <h3>Biometric Data derived from Video/Image</h3>
    <p>
        Biometric data derived from video image collection plays a pivotal role in the
        precise identification of individuals by robotic systems. The utilization of video
        image capture not only facilitates the accurate targeting of deliveries to
        specific individuals but also enhances the efficacy of surveillance in scenarios
        involving multiple individuals within buildings. It is essential to highlight that
        the collection of biometric data aligns with Portuguese legislation, specifically
        in accordance with Article 19 of Law 58/2019.
    </p>

    <h3>Role in the System</h3>
    <p>
        System Functions, including Campus Manager, Fleet Manager, and Task Manager,
        provide users with a tailored graphical interface, streamlining access to
        essential functions corresponding to their specific tasks.
    </p>

    <h2>How long do we store personal data?</h2>
    <p>
        Personal data is retained for the duration of an individual's association with the
        organization. However, two exceptions exist: VAT and Biometric Data.
    </p>
    <br />
    <p>
        In anticipation of potential legal proceedings, VAT-related data will be securely
        retained for a duration of five years.
    </p>
    <br />
    <p>
        Biometric Data acquired through surveillance methods is systematically erased
        after 30 days. This timeframe is deemed essential to ensure the optimal
        functionality of the system, aligning with directives for the proper management of
        data. This practice not only supports effective execution but also upholds the
        principles of data management.
    </p>

    <h2>Your rights and how to exercise them?</h2>
    <p>
        Your privacy is of utmost importance to us, and we want to ensure that you are
        aware of the rights you have in relation to the personal data you share with us.
        By reaching out to us through the contact information provided above, you can
        exercise the following rights:
    </p>
    <br />
    <p>
        <strong>• Access and Information:</strong> You have the right to obtain
        information about the processing of your personal data. This includes accessing
        copies of the data processed by ISEP. If you find any inaccuracies or
        incompleteness in your personal data, you can request their rectification or
        completion. (In accordance with GRPD Articles 13, 15, and 16)
    </p>
    <br />
    <p>
        <strong>• Data Deletion:</strong> You can request the deletion of your personal
        data in accordance with GRPD Article 17.
    </p>
    <br />
    <p>
        <strong>• Data Transfer:</strong> If you wish, we can provide you with a copy of
        your personal data in a readable format. Additionally, upon request, we can
        transfer your data directly to another entity. (As per GRPD Article 20)
    </p>
    <br />
    <p>
        Rest assured that we do not employ automated decision-making, including profiling,
        in the processing of your personal data. Your trust in us is our priority, and we
        are committed to ensuring the security and transparency of your data.
    </p>
</div>
