<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-20 mx-auto flex flex-col items-center">
        <label for="building" class="text-lg text-gray-400 mb-4"> Select Building </label>

        <div class="drop-menu mb-4">
            <div class="relative sm:mb-2 flex-grow w-full">
                <select
                    id="building"
                    name="building"
                    class="vertical-center custom-dropdown"
                    [(ngModel)]="selectedBuilding"
                    (ngModelChange)="getElevators()"
                >
                    <option value="" disabled selected></option>
                    <option *ngFor="let building of buildings" [value]="building.code">
                        {{ building.code }} - {{ building.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="relative" *ngIf="allElevators.length !== 0">
            <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
                <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                </svg>
            </div>

            <input
                (input)="filter($event)"
                placeholder="Search elevator"
                type="text"
                [disabled]="selectedBuilding === ''"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
        </div>

        <div class="elevator-list">
            <div *ngFor="let elevator of elevators" class="elevator-card mb-8">
                <h2>Elevator</h2>
                <p>Identifier: {{ elevator.identifier }}</p>
                <p>Floors: {{ elevator.floors }}</p>
                <p>Brand: {{ elevator.brand || 'No brand' }}</p>
                <p>Model: {{ elevator.model || 'No model' }}</p>
                <p>Serial Number: {{ elevator.serialNumber || 'No serialNumber' }}</p>
                <p>Description: {{ elevator.description || 'No description' }}</p>
            </div>
        </div>
    </div>
</section>
