<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-5 mx-auto">
        <!-- *ngIf="allRobots.length !== 0" -->
        <div class="relative">
            <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
                <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                </svg>
            </div>

            <input
                (input)="filter($event)"
                placeholder="Search robots"
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
        </div>

        <div class="container px-5 py-20 mx-auto flex flex-col items-center">
            <div class="robot-list">
                <div *ngFor="let robot of robots" class="robot-card mb-8">
                    <button
                        [title]="(robot.state == 0 ? 'Disable' : 'Enable') + ' robot'"
                        (click)="inhibit(robot)"
                    >
                        <div class="flex content-center space-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1.20em"
                                viewBox="0 0 640 512"
                            >
                                <path
                                    [attr.fill]="robot.state === 0 ? 'green' : 'red'"
                                    d="M54.2 202.9C123.2 136.7 216.8 96 320 96s196.8 40.7 265.8 106.9c12.8 12.2 33 11.8 45.2-.9s11.8-33-.9-45.2C549.7 79.5 440.4 32 320 32S90.3 79.5 9.8 156.7C-2.9 169-3.3 189.2 8.9 202s32.5 13.2 45.2 .9zM320 256c56.8 0 108.6 21.1 148.2 56c13.3 11.7 33.5 10.4 45.2-2.8s10.4-33.5-2.8-45.2C459.8 219.2 393 192 320 192s-139.8 27.2-190.5 72c-13.3 11.7-14.5 31.9-2.8 45.2s31.9 14.5 45.2 2.8c39.5-34.9 91.3-56 148.2-56zm64 160a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"
                                />
                            </svg>
                            <h2>{{ robot.code }} - {{ robot.nickname }}</h2>
                        </div>
                    </button>
                    <p>Type {{ robot.typeCode }}</p>
                    <p>Serial {{ robot.serialNumber }}</p>
                    <p>{{ robot.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
