<div class="form-popup" id="myForm">
    <form
        [formGroup]="createRobotTypeForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
    >
        <div class="form-container">
            <div class="row">
                <div>
                    <label for="code">Code:</label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="code"
                        type="text"
                        formControlName="code"
                    />
                </div>

                <div>
                    <label for="band">Brand:</label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="brand"
                        type="text"
                        formControlName="brand"
                    />
                </div>
            </div>

            <div class="row">
                <div>
                    <label for="Model">Model:</label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="model"
                        type="text"
                        formControlName="model"
                    />
                </div>

                <div>
                    <label for="taskTypes"> Select task types </label>
                    <select id="taskTypes" formControlName="taskTypes" multiple required>
                        <option *ngFor="let task of taskTypes" [value]="task">
                            {{ task }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="createRobotTypeForm.invalid">Submit</button>
    </form>
</div>
