<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 mx-auto">
        <!-- TODO: make this pretty -->
        <div class="relative w-full">
            <div>
                <div class="relative">
                    <div
                        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                    >
                        <svg
                            class="w-4 h-4 text-gray-500 dark:text-gray-400"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 20"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                            />
                        </svg>
                    </div>

                    <input
                        (input)="filter($event)"
                        placeholder="{{
                            selectedBuilding === ''
                                ? 'Select a building first'
                                : 'Search floor'
                        }}"
                        type="text"
                        [disabled]="selectedBuilding === ''"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    />
                </div>
            </div>
        </div>

        <div class="floor-list">
            <div *ngFor="let floor of floors" class="floor-card mb-8">
                <h2>Floor {{ floor.floorNumber }}</h2>
                <p>{{ floor.description || "No description" }}</p>
            </div>
        </div>
    </div>
</section>
