.floor-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.floor-card {
    border: 1px solid var(--third-color);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    min-width: 200px; /* Set a minimum width */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    color: white;
    /* Adjust text color for better visibility on the primary background */
}

.floor-card h2 {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

.floor-card p {
    color: var(--secondary-color);
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Adjust the maximum height as needed */
}

.floor-card p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
