<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-20 mx-auto flex flex-col items-center">
        <label for="building" class="text-lg text-gray-400 mb-4">
            Building
        </label>

        <div class="drop-menu mb-4">
            <div class="relative sm:mb-2 flex-grow w-full">
                <select
                    id="building"
                    name="building"
                    class="vertical-center custom-dropdown"
                    [(ngModel)]="selectedBuilding"
                >
                    <option value="" disabled selected>Select an option</option>
                    <option
                        *ngFor="let building of buildings"
                        [value]="building.code"
                    >
                        {{ building.code }} - {{ building.name }}
                    </option>
                </select>
            </div>
        </div>

        <button
            (click)="getFloors(selectedBuilding)"
            class="text-white bg-yellow-500 border-0 py-0 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg mb-4"
        >
            Get Floors
        </button>

        <div class="floor-list">
            <div *ngFor="let floor of floors" class="floor-card mb-8">
                <h2>Floor {{ floor.floorNumber }}</h2>
                <a>{{ floor.description || "No description specified" }}</a>
            </div>
        </div>
    </div>
</section>
