.floor-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.floor-card {
    border: 1px solid var(--third-color);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    color: white;
}

.floor-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.floor-card h2 {
    margin-bottom: 8px;
    font-weight: bolder;
    font-size: larger;
    color: var(--secondary-color);
}

.floor-card p {
    color: var(--secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3em;
}

.floor-card p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
}

.flex {
    justify-content: space-between; /* Add space between the two elements */
}

label {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 16px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}
