form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.row div {
    width: 48%;
}

.row input,
.row select {
    width: 100%;
    margin-bottom: 16px;
}

button {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the checkbox container horizontally */
    margin-top: 10px; /* Adjust the margin as needed */
}

#overrideConfirmation {
    margin-top: 8px;
    width: 20px;
}
.invalid-input {
    border: 2px solid rgb(218, 62, 62);
}
