<div class="flex flex-col m-auto p-auto">
    <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
        <div class="flex items-center flex-nowrap lg:ml-40 md:ml-20 ml-10">
            <div *ngFor="let floor of floors" class="floor-card">
                <h2>Floor {{ floor.floorNumber }}</h2>
                <p>{{ floor.description || 'No description' }}</p>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="editFloorForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div>
        <div class="row">
            <div>
                <label for="selectBuilding">Select Building:</label>
                <select
                    id="selectBuilding"
                    formControlName="buildingCode"
                    [(ngModel)]="selectedBuilding"
                    (ngModelChange)="getFloors()"
                    required
                >
                    <option *ngFor="let building of buildings" [value]="building.code">
                        {{ building.code }}
                    </option>
                </select>
            </div>

            <div>
                <label for="selectFloor">Select Floor:</label>
                <select
                    id="selectFloor"
                    formControlName="oldFloorNumber"
                    [(ngModel)]="selectedFloor"
                    (ngModelChange)="onFloorSelected()"
                    required
                >
                    <option *ngFor="let floor of floors" [value]="floor.floorNumber">
                        Floor {{ floor.floorNumber }}
                    </option>
                </select>
            </div>
        </div>

        <div>
            <label for="newFloorNumber">Floor number:</label>
            <input
                id="newFloorNumber"
                type="number"
                formControlName="newFloorNumber"
                placeholder="{{ floor.floorNumber }}"
            />
        </div>

        <label for="description">Description:</label>
        <textarea
            id="description"
            formControlName="newDescription"
            placeholder="{{ floor.description }}"
        ></textarea>

        <div class="checkbox-container">
            <input type="checkbox" formControlName="override" id="overrideConfirmation" />
            <label for="overrideConfirmation">Override</label>
        </div>

        <button *ngIf="formValid()" type="submit">Submit</button>
        <button *ngIf="!formValid()" type="submit" [disabled]="true">Submit</button>
    </div>
</form>
