body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button { */
/*   background-color: #555; */
/*   color: white; */
/*   padding: 16px 20px; */
/*   border: none; */
/*   cursor: pointer; */
/*   opacity: 0.8; */
/*   position: fixed; */
/*   bottom: 23px; */
/*   right: 28px; */
/*   width: 280px; */
/* } */

/* The popup form - hidden by default */
.form-popup {
    /* display: none; */
    /* background: rgba(0, 0, 0, 0.5); */
    position: fixed;
    bottom: 0;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Adjust the z-index as needed */
}

/* Add styles to the form container */
.form-container {
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Adjust the alpha value for transparency */
    z-index: 1;
    /* Make sure the overlay is on top of other elements */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    /* Adjust as needed for spacing between the rows */
}

.row div {
    width: 48%;
}

.row input,
.row select {
    width: 100%;
    margin-bottom: 16px;
}

button {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
