.module {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.module-border {
    border: 1px solid rgba(55, 65, 81, 0.75);
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.module-box {
    width: 33.333333%;
    padding: 1rem;
}

.module-text {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0.5rem;
}
.feature-div {
    width: 25%;
    padding: 1rem;
}

/* .custom-dropdown {
    width: 100%;
    background-color: #d8aa21; 
    background-opacity: 0.4; 
    border: 1px solid #ca9f1e92;
    border-radius: 0.25rem; 
    color: #fff; 
    padding: 0.5rem 1rem;
    line-height: 1.5;
    outline: none; 
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  
  .custom-dropdown:focus {
    border-color: #5d5d5d;
  }
  
  .drop-menu{
    display: flex;
    width: 66.666667%;
    width: 100%;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
} */
