.list-passages-between-buildings-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-passages-between-buildings-card {
    border: 1px solid var(--third-color);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    color: white;
}

.list-passages-between-buildings-card h2 {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

.list-passages-between-buildings-card p {
    color: var(--secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3em;
    /* Adjust the maximum height as needed */
}

.list-passages-between-buildings-card p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
}

label {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}
