.page-title {
    @apply text-2xl font-bold text-white text-center my-16;
}

.dimension-box {
    margin-bottom: 20px;
    padding: 8px;
    background-color: var(--third-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.dimension-label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
    margin-top: 8px;
    color: var(--secondary-color);
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.row div {
    width: 48%;
}

.row input,
.row select {
    width: 100%;
    margin-bottom: 16px;
}

button {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the checkbox container horizontally */
    margin-top: 10px; /* Adjust the margin as needed */
}

#overrideConfirmation {
    margin-top: 8px;
    width: 20px;
}
.invalid-input {
    border: 2px solid rgb(218, 62, 62);
}

.floor-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.floor-card {
    border: 1px solid var(--third-color);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    color: white;
}

.floor-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.floor-card h2 {
    margin-bottom: 8px;
    font-weight: bolder;
    font-size: larger;
    color: var(--secondary-color);
}

.floor-card p {
    color: var(--secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3em;
}

.floor-card p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.box {
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 16px;
}

.box div {
    width: 70%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.box label {
    text-align: center;
}

.box input,
.box select {
    width: 100%;
    margin-bottom: 8px;
}

.introduce {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    width: 60%;
}
