<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-20 mx-auto">
        <!-- TODO: make this pretty -->
        <div class="relative w-full">
            <div>
                <form
                    [formGroup]="filterForm"
                    (ngSubmit)="onSubmit()"
                    style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 10px;
                    "
                >
                    <div
                        style="display: flex; justify-content: space-between; width: 100%"
                    >
                        <div style="flex: 1">
                            <label for="min">Minimum Floor Number</label>
                            <input
                                id="min"
                                [ngClass]="{
                                    'invalid-input': isInvalid('min')
                                }"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="number"
                                formControlName="min"
                            />
                        </div>

                        <div style="flex: 1; margin-left: 10px">
                            <label for="max">Maximum Floor Number</label>
                            <input
                                id="max"
                                [ngClass]="{
                                    'invalid-input': isInvalid('max')
                                }"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="number"
                                formControlName="max"
                            />
                        </div>
                    </div>

                    <button *ngIf="formValid()" type="submit">Submit</button>
                    <button *ngIf="!formValid()" type="submit" [disabled]="true">
                        Submit
                    </button>
                </form>

                <div class="relative">
                    <div
                        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                    >
                        <svg
                            class="w-4 h-4 text-gray-500 dark:text-gray-400"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 20"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                            />
                        </svg>
                    </div>

                    <input
                        (input)="filter($event)"
                        placeholder="Search building"
                        type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    />
                </div>
            </div>
        </div>

        <div class="building-list">
            <div *ngFor="let building of buildings" class="building-card">
                <h2>{{ building.code }}</h2>
                <p>{{ building.description }}</p>
                <div class="dimension-box">
                    <span class="dimension-label">Length:</span>
                    {{ building.maxFloorDimensions.length }}
                </div>
                <div class="dimension-box">
                    <span class="dimension-label">Width:</span>
                    {{ building.maxFloorDimensions.width }}
                </div>
                <div class="dimension-box">
                    <span class="dimension-label">Floors:</span>
                    {{ building.floorNumber }}
                </div>
            </div>
        </div>
    </div>
</section>
