<section class="hidden">
    <div *ngIf="popErrorShow()" class="form-popup" id="myForm" background-color="#bf7a7a">
        <div class="error-container" id="errorContainer">
            <span class="closeError" (click)="closeErrorForm()">&times;</span>
            <h1 style="color: red">Error</h1>
            <p style="color: red" id="errorMessage">{{ errorMessage }}</p>
        </div>
    </div>
    <div
        *ngIf="popSucessShow()"
        class="form-popup"
        id="myForm"
        background-color="#7bbf7a"
    >
        <div class="sucess-container" id="successContainer">
            <span class="closeSucess" (click)="closeSucessForm()">&times;</span>
            <h1 style="color: green">Success</h1>
            <p style="color: green" id="sucessMessage">{{ sucessMessage }}</p>
        </div>
    </div>
</section>
