body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Add styles to the form container */
.form-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally in the container */
    justify-content: center; /* Center items vertically in the container */
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: var(--primary-color);
}

/* When the inputs get focus, do something */
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Adjust the alpha value for transparency */
    z-index: 1;
    /* Make sure the overlay is on top of other elements */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
    color: var(--secondary-color);
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}
.row {
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    width: 100%;
    margin-bottom: 16px; /* Adjust as needed for spacing between the rows */
}

.row div {
    width: 48%;
}

.row input,
.row select {
    width: 100%;
    margin-bottom: 16px;
}

button {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.page-title {
    @apply text-2xl font-bold text-white text-center my-16;
}

.dimension-box {
    margin-bottom: 20px;
    padding: 8px;
    background-color: var(--third-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.dimension-label {
    color: white;
}
