.mat-dialog-container {
    @apply flex flex-col items-center justify-center min-h-screen m-0;
}

.mat-dialog-content {
    @apply text-center;
}

/* .mat-dialog-actions { */
/* @apply justify-center mt-6; */
/* } */

input[type='password'] {
    @apply mt-4 p-2;
}
