<main>
  <div class="text-gray-400 body-font bg-gray-900">
    <!-- <a [routerLink]="['menu']" class="flex flex-wrap w-full flex-col items-center text-center">
      <p class="sm:text-3xl text-2xl font-medium title-font text-white">RobDroneGo</p>
      <img class="brand-logo" src="/assets/logo.svg" alt="RobDroneGo" aria-hidden="true"> -->
    <!-- </a> --> 
    <header class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
          <a  class="mr-5 hover:text-white">Buildings</a>
          <a class="mr-5 hover:text-white">Floors</a>
          <a class="mr-5 hover:text-white">Elevators</a>
          <a class="hover:text-white">Robots</a>
        </nav> 
        <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <a [routerLink]="['modules']" class="ml-3 text-xl xl:block lg:hidden">RobDroneGo</a>
        </a>
         <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
          <button onclick="history.back()" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">
            <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path  fill="none" d="M19 12H5M12 19l-7-7 7-7"></path>
            </svg>                             
            <a>Back</a>
          </button>
        </div>
      </div>
    </header>
  </div>
  <section class="text-gray-400 body-font bg-gray-900">
    <router-outlet><!--AQUI ENTRA O BUFFER PARA O RESTO DA APPLICACAO--> </router-outlet>
  </section>
  <app-contact-info></app-contact-info>
</main>