<form [formGroup]="editPassageForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="introduce">
        <div class="row">
            <div>
                <label for="oldBuildingCode1">Select Building 1</label>
                <select
                    id="oldBuildingCode1"
                    formControlName="oldBuildingCode1"
                    [(ngModel)]="selectedBuilding1"
                    (change)="getPassages()"
                    required
                >
                    <option *ngFor="let building of buildings" [value]="building.code">
                        {{ building.code }}
                    </option>
                </select>
            </div>
            <div>
                <label for="oldBuildingCode2">Select Building 2</label>
                <select
                    id="oldBuildingCode2"
                    formControlName="oldBuildingCode2"
                    [(ngModel)]="selectedBuilding2"
                    (change)="getPassages()"
                    required
                >
                    <option *ngFor="let building of buildings" [value]="building.code">
                        {{ building.code }}
                    </option>
                </select>
            </div>
            <div>
                <label for="selectPassage">Select Passage</label>
                <select
                    id="selectPassage"
                    formControlName="passage"
                    [(ngModel)]="selectedPassage"
                    (change)="onPassageSelected($event)"
                    required
                >
                    <option *ngFor="let passage of passages" [ngValue]="passage">
                        {{ passage.floor1.buildingCode
                        }}{{ passage.floor1.floorNumber }} -
                        {{ passage.floor2.buildingCode }}{{ passage.floor2.floorNumber }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="introduce" style="margin-top: 10px">
        <div class="row">
            <div>
                <label for="newBuildingCode1">Select new Building 1</label>
                <select
                    id="newBuildingCode1"
                    formControlName="newBuildingCode1"
                    [(ngModel)]="newSelectedBuilding1"
                    (change)="getFloorsNewBuilding1()"
                    required
                >
                    <option *ngFor="let building of buildings" [value]="building.code">
                        {{ building.code }}
                    </option>
                </select>
            </div>

            <div>
                <label for="newFloorNumber1">Select new Floor 1</label>
                <select id="newFloorNumber1" formControlName="newFloorNumber1" required>
                    <option
                        *ngFor="let floor of floorsBuilding1"
                        [value]="floor.floorNumber"
                    >
                        {{ floor.floorNumber }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div>
                <label for="newBuildingCode2">Select new Building 2</label>
                <select
                    id="newBuildingCode2"
                    formControlName="newBuildingCode2"
                    [(ngModel)]="newSelectedBuilding2"
                    (change)="getFloorsNewBuilding2()"
                    required
                >
                    <option *ngFor="let building of buildings" [value]="building.code">
                        {{ building.code }}
                    </option>
                </select>
            </div>
            <div>
                <label for="newFloorNumber2">Select new Floor 2</label>
                <select id="newFloorNumber2" formControlName="newFloorNumber2" required>
                    <option
                        *ngFor="let floor of floorsBuilding2"
                        [value]="floor.floorNumber"
                    >
                        {{ floor.floorNumber }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <button id="submitPassage" type="submit" [disabled]="this.editPassageForm.invalid">
        Submit
    </button>
</form>
