<section class="text-gray-400 bg-gray-900 body-font" style="margin-bottom: 20px">
    <section
        class="text-gray-400 body-font bg-gray-900"
        style="display: flex; margin-left: 25%; margin-right: 25%"
    >
        <div class="top-menu">
            <div>
                <a [routerLink]="['create']">
                    <button class="button-top-menu" id="create" type="button">
                        Create
                    </button>
                </a>
            </div>
            <div>
                <a [routerLink]="['edit']">
                    <button class="button-top-menu" id="edit" type="button">Edit</button>
                </a>
            </div>
            <div>
                <a [routerLink]="['list']">
                    <button class="button-top-menu" id="list" type="button">List</button>
                </a>
            </div>
            <div>
                <a [routerLink]="['update-map']">
                    <button class="button-top-menu" id="list" type="button">
                        Update Map
                    </button>
                </a>
            </div>
            <div>
                <a [routerLink]="['list-floors-with-passage']">
                    <button class="button-top-menu" id="list" type="button">
                        List Floors With Passage
                    </button>
                </a>
            </div>
        </div>
    </section>
</section>
<router-outlet></router-outlet>
