<!-- <div> -->
<!--     <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data"> -->
<!--         <div> -->
<!--             <label for="password">password</label> -->
<!--             <input type="password" id="password" formControlName="password"> -->
<!--         </div> -->

<!--         <div> -->
<!--             <button type="submit" [disabled]="!form.valid">Submit</button> -->
<!--         </div> -->
<!--     </form> -->
<!-- </div> -->

<!-- *ngIf="showDataPopup" -->
<!--     <div>hello</div> -->
<!-- <div -->
<!--     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" -->
<!-- > -->
<!--     <div class="bg-white p-6 rounded-md w-80"> -->
<!--         <button -->
<!--             class="absolute top-2 right-2 text-gray-500" -->
<!--             (click)="closePopup()" -->
<!--         > -->
<!--             X -->
<!--         </button> -->
<!--         <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data"> -->
<!--             <label for="password" class="text-lg font-semibold mb-2">Password:</label> -->
<!--             <input -->
<!--                 type="password" -->
<!--                 id="password" -->
<!--                 formControlName="password" -->
<!--                 required -->
<!--                 class="border border-gray-300 rounded-md p-2 mb-4" -->
<!--             /> -->
<!--             <button -->
<!--                 type="submit" -->
<!--                 class="bg-green-500 text-white px-4 py-2 rounded-md cursor-pointer" -->
<!--                 > -->
<!--                 Confirm -->
<!--             </button> -->
<!--         </form> -->
<!--     </div> -->
<!-- </div> -->

<h2 mat-dialog-title class="text-center">Password Verification</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content class="text-center">
        <p class="px-2">Please re-enter your password to continue:</p>
        <!-- Add your password input field here -->
        <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="mt-4 p-2"
        />
    </div>
    <div
        mat-dialog-actions
        class="flex flex-row items-center !px-16 !justify-between mt-6 space-x-4"
    >
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" [disabled]="!form.valid">Submit</button>
    </div>
</form>
